.text-primaryYellow {
    color: #F28705;
}
.text-accentYellow {
    color: #575757;
}
.text-accentYellow:hover {
    color: #F27405;
}
.text-pastelViolet {
    color: #804Bf2;
}
.text-darkGray {
    color: #575757;
}
.text-lightGray {
    color: #f2f2f2;
}


.bg-primaryYellow {
    background-color: #F28705 ;
}
.bg-accentYellow {
    background-color: #F27405 ;
}
.bg-pastelViolet {
    background-color: #804Bf2;
}
.bg-darkGray {
    background-color: #575757;
}
.bg-lightGray {
    background-color: #f2f2f2;
}


.border-pastelViolet {
    border-color: #804Bf2;
}
.borderless { 
    border: none;
}

.box-shadowCustom {
    box-shadow: 0.1rem 0.1rem 0.2rem #d6d6d6;
}

body {
    background-color: #f7f7f7;
}