<template>
  <div class="home">
    <div class="container">
      <form @submit.prevent="addProduct">
        <mini-editor :product="product"/>
      </form>
      
      <div
        v-if="products.length" 
        class="row row-cols-1 row-cols-sm-2 mt-3">
          <list-container 
            v-for="(category, index) in categories" 
            :key="index"
            :listName="category.title"
            :listProducts="separateProducts(category.value)" />
      </div>
      <p 
        v-else
        class="text-center mt-5 text-secondary">
        No se han agregado productos
      </p>
      <!--{{ products }}
      {{ categories }}-->
    </div>
  </div>
</template>

<script>
import ListContainer from '../components/ListContainer.vue'
import AddButton from '../components/AddButton.vue'

import { mapActions, mapState } from 'vuex'
import MiniEditor from '../components/MiniEditor.vue'


export default {
  name: 'Home',
  components: {
    ListContainer,
    AddButton,
    MiniEditor,
  },
  data() {
    return {
      product: {
        id: 0,
        description: '',
        status: false,
        addedAt: '',
      },
    }
  }, 
  computed: {
    ...mapState(['products', 'categories', 'filteredProducts']),
    
  },
  methods: {
    ...mapActions(['setProducts']),
    addProduct() {
      this.product.id = Date.now()

      this.setProducts(this.product)

      this.product = {
        id: 0,
        description: '',
        status: this.product.status,
        addedAt: '',
      }
    },
    separateProducts(status) {
      return this.products.filter(product => product.status === status)
    }
  }
}
</script>
