<template>
  <button 
    type="submit" 
    class="btn bg-primaryYellow text-white btn-sm me-3"
    :disabled="disable">
    <i class="bi bi-plus"></i>
    Agregar
  </button>
</template>

<script>
export default {
  props: {
    disable: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style>

</style>