<template>
  <div 
    class="card borderless box-shadowCustom mb-2" 
    draggable="true"
    @dragstart="startDrag($event, product)">
    <div class="card-body text-darkGray pb-0">
      <div class="card-text d-flex justify-content-between">
        <p 
          v-if="editing" 
          @click="edit()">
          {{ product.description }}
        </p>
        <input 
          v-else
          class="inputItem form-control"
          type="text"
          @keyup.enter="update(product)"
          v-model="product.description">
        <div class="py-0 flex-shrink-0">
          <i
            v-if="editing" 
            class="bi bi-arrow-repeat mx-2 text-accentYellow" 
            role="button" 
            title="Cambiar de lista"
            @click="changeStatus(product)"></i>
          <i
            v-if="editing"
            class="bi bi-dash-circle text-accentYellow" 
            role="button"
            title="Eliminar producto"
            @click="deleteProduct(product.id)"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'ListItem',
  data() {
    return {
      editing: true,
      movement: 0,
    }
  },
  props: {
    product: Object,
  },
  computed: {
    ...mapState(['products'])
  },
  methods: {
    ...mapActions(['deleteProduct', 'updateProduct']),
    toogle() {
      this.editing = !this.editing
    },
    edit() {
      this.toogle()
    },
    update(product) {
      this.toogle()
      this.updateProduct(product)
    },
    startDrag(evt, item) {
      evt.dataTransfer.dropEffect = 'move'
      evt.dataTransfer.effectAllowed = 'move'
      evt.dataTransfer.setData('itemID', item.id)
    },
    touchStart() {
      //console.log('Inicia el evento touch')
    },
    touchEnd(product) {
      if (this.movement > 0) {
        product.status = !product.status
        this.updateProduct(product)
      }
      this.movement = 0
    },
    touchMove() {
      this.movement = 1
    },
    changeStatus(product) {
      product.status = !product.status
      this.updateProduct(product)
    },
  },
}
</script>

<style scoped>
.inputItem {
  border: none;
  border-bottom: 1px solid #804Bf2;
  margin-bottom: 1rem;
}
.inputItem:focus {
  outline: none !important;
}

</style>