<template>
  <div 
    class="col-sm-12 col-md-6 p-2"
    @drop="onDrop($event)"
    @dragover.prevent
    @dragenter.prevent>
    <h5 class="mb-4 text-darkGray">{{ listName }}</h5>
    <div v-if="listProducts.length">
      <list-item 
        v-for="product in listProducts" 
        :key="product.id" 
        :product="product" />
    </div>
    <div v-else>
      <p class="text-center text-secondary">
        {{ listEmptyText }}
      </p>
    </div>
    
    <!-- <add-button :disable="false"/> -->
  </div>
</template>

<script>
import ListItem from './ListItem.vue'
//import AddButton from './AddButton.vue'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    ListItem,
    //AddButton,
  },
  props: {
    //category: Boolean,
    listName: String,
    listProducts: Array
  },
  computed: {
    ...mapState(['products']),
    //listName() {
    //  return this.category ? 'En existencia' : 'Por comprar'
    //},
    listEmptyText() {
      return 'No hay productos ' + this.listName.toLowerCase()
    }

  },
  methods: {
    ...mapActions(['updateProduct']),
    onDrop(evt) {
      const itemId = evt.dataTransfer.getData('itemID')

      const product = this.products.find(item => {
        return item.id.toString() === itemId.toString()
      })

      product.status = !product.status
      this.updateProduct(product)
    }
  }
}
</script>

<style>

</style>