<template>
  <div class="card text-darkGray borderless box-shadowCustom mt-3 mb-3">
    <div class="card-body">
      <input 
        class="form-control" 
        type="text" 
        placeholder="Nuevo producto"
        v-model.trim="product.description"
        @keyup.enter="validateValue($event)">
      <div class="d-flex flex-row mt-2">
        <div class="form-check form-check-inline col col-md-8">
          <input 
            class="form-check-input" 
            type="checkbox" 
            id="inlineCheckbox1" 
            value="true"
            v-model="product.status">
          <label 
            class="form-check-label" 
            for="inlineCheckbox1">
            En existencia
          </label>
        </div>
        <div class="col col-md-4 text-end">
          <add-button :disable="disable"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddButton from './AddButton.vue'

export default {
  components: {
    AddButton,
  },
  props: {
    product: Object
  },
  computed: {
    disable() {
      return !this.product.description.length
    }
  },
  methods: {
    validateValue(evt) {
      if (!this.product.description.length) {
        evt.preventDefault()
      }
    }
  }
}
</script>

<style>

</style>