<template>
  <nav class="navbar navbar-dark bg-primaryYellow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img 
          src="../assets/shopping_bag-24px.svg" 
          alt="" 
          width="32" 
          height="32" 
          class="d-inline-block align-top">
        Mandado App
      </a>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style>

</style>